form {
  margin-bottom: 0;
}

@font-face {
  font-family: "Akrobat";
  src: url(asset-path("fonts/Akrobat-Regular.otf"));
}

@font-face {
  font-family: "Akrobat-Bold";
  src: url(asset-path("fonts/Akrobat-Bold.otf"));
}

@font-face {
  font-family: "Akrobat-ExtraLight";
  src: url(asset-path("fonts/Akrobat-ExtraLight.otf"));
}

@font-face {
  font-family: "Akrobat-ExtraBold";
  src: url(asset-path("fonts/Akrobat-ExtraBold.otf"));
}

@font-face {
  font-family: "Akrobat-Light";
  src: url(asset-path("fonts/Akrobat-Light.otf"));
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* Home */

html.home {
  background: #EDECEA;
}

html,
body {
  height: 100%;
  width: 100%;
}

#home .page-content {
  width: 1400px;
  margin: 0 auto;
}

#home .dose1 {
  width: 100%;
  height: 100%;
  background: image-url("home/page_1_background.png") center center no-repeat;
  background-size: 100% 100%;
  position: relative;
  letter-spacing: .09em;
  margin: 0 auto;
}

#refer .dose2 {
  width: 100%;
  background: image-url("refer/page_2_background.png") center center no-repeat fixed;
  background-size: 100% 100%;
  position: relative;
  letter-spacing: .09em;
  margin: 0 auto;
}

#home .form-wrap {
  width: 100%;
  margin: 23px auto 0;
  position: fixed;
  bottom: 0;
  background: rgba(41, 102, 126, 0.90);
}

#home .form-wrap .key {
  width: 46px;
  height: 19px;
  margin: 0 auto;
  background-size: 46px 19px;
}
.comingsvg {
  margin-left: 10%;
  margin-top: 7%;
}

.square-logo svg {
  margin: 0 auto;
  display: block;
  object-fit: contain;
  margin-top: 10px;
}
#home form {
  display: table;
  margin: 0 auto;
  padding-top: 10px;
}

#home .form-wrap .byline {
  font-size: 36px;
  text-transform: uppercase;
  color: #d4d3d5;
  text-align: center;
  letter-spacing: 2px;
  margin: 0;
}

#home .form-wrap .email {
  float: left;
  font-size: 13px;
  padding: 0px 0 0px 10px;
  border: 1px solid #074E6F;
  width: 256px;
  outline: none;
  letter-spacing: 1px;
  height: 40px;
}

#home .form-wrap .submit {
  width: 143px;
  background: #d4d3d5;
  float: left;
  height: 40px;
  line-height: 37px;
  color: #2a667f;
  font-size: 20px;
  text-transform: uppercase;
  font-weight:bold;
  border: 1px solid #074E6F;
  letter-spacing: 2px;
}

.footer-line {
  color: rgba(255,255,255,0.9);
  font-size: 20px;
  font-family: "Akrobat", "Brandon Grotesque", "brandon-grotesque", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

#home .form-wrap.ended {
  width: 500px;
  margin-top: 27px;
}

#home .form-wrap.ended .thanks {
  text-transform: uppercase;
  font-weight: 500;
  color: #074e6f;
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 36px;
  margin-bottom: 14px;
}

#home .form-wrap.ended .compiling {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 30px;
  color: #555556;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}

#home .form-wrap.ended .go-to {
  font-style: italic;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 25px;
}

#home .form-wrap.ended .go-to a {
  color: #074e6f;
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
}

#home .form-wrap.ended .go-to a:hover {
  color: #955F5D;
}

#home .form-wrap.ended .again {
  font-weight: 500;
  color: #555556;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

#home .form-wrap.ended {
  width: 500px;
  margin-top: 27px;
}

#home .form-wrap.ended .thanks {
  text-transform: uppercase;
  font-weight: 500;
  color: #074e6f;
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 36px;
  margin-bottom: 14px;
}

#home .form-wrap.ended .compiling {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 30px;
  color: #555556;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}

#home .form-wrap.ended .go-to {
  font-style: italic;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 25px;
}

#home .form-wrap.ended .go-to a {
  color: #074e6f;
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
}

#home .form-wrap.ended .go-to a:hover {
  color: #955F5D;
}

#home .form-wrap.ended .again {
  font-weight: 500;
  color: #555556;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

/* Refer a friend page */

.wf-loading .brandon {
  visibility: hidden;
}

.brandon {
  font-family: "Akrobat", "Brandon Grotesque", "brandon-grotesque", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}

#refer {
  background: #FFF;
}

#refer .page-content {
  margin: 0 auto;
  z-index: 0;
  position: relative;
}

#refer .header {
  height: 60px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  position: relative;
  background: rgba(41, 102, 126, 0.9);
}

#refer .header .content {
  display: table;
  width: 40%;
  margin: 0 auto;
}

#refer .header .content svg {
  margin-top: 1%;
}

#refer .header p {
  font-weight: 100;
  color: rgba(255,255,255, 0.9);
  display: inline;
  // font-weight: 100;
  line-height: 50px;
  font-family: "Akrobat", "Brandon Grotesque", "brandon-grotesque", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  float: right;
  padding-left: 7%;
  font-size: 2em;
}


#refer .mammoth .need {
  color: #8df41D;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  font-size: 6em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  text-align: left;
}

@media screen and (max-width: 993px) {
    #refer .mammoth {
        text-align: center
    }
}

#refer .mammoth .need br {
  line-height: 1.2em;
}


#refer .share-wrap {
  text-align: center;
  letter-spacing: .13em;
  background: rgba(41, 102, 126, 0.9);
  padding-bottom: 1em;
  margin: 2em;
}

#refer .share-wrap .why {
  font-size: 16px;
  color: #555556;
  font-weight: bold;
  margin-top: 42px;
}

#refer .share-wrap svg {
  overflow: visible;
  margin-top: 2em;
  margin-left: 2%;
}


#refer .share-wrap .title {
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color: #074E6F;
  margin-top: 18px;
  letter-spacing: .13em;
}

#refer .share-wrap .subtitle {
  color: #d4d3d5;
  font-size: 12px;
  text-transform: none;
  margin: 0 auto;
  margin-top: 2em;
  width: 70%;
}

#refer .share-wrap .copy-link {
  border: 1px solid #D1D0C7;
  background: #FFF;
  padding: 10px 0;
  width: 80%;
  text-transform: none;
  font-size: 11px;
  margin: 20px auto 0;
}

#refer .share-wrap .social-links {
  margin: 1em 0 2em 0;
  text-align: center;
}

.fb-logo {
  margin-right: 2em;
}

#refer .share-wrap .social-links a, #refer .share-wrap .social-links div {
  display: inline-block;
}

#refer .prizes {
  width: 100%;
  background: rgba(212, 211, 213, 0.85);
  border-top: 1px solid #D2D1C8;
  padding-bottom: 20px;
}

@media screen and (max-width: 500px) {
    #refer .prizes {
        display: none;
    }

    #refer .share-wrap svg.non-mobile {
      display: none;
    }

    #refer .mammoth .need {
      font-size: 4em;
    }

    ul.products {
      margin-top: 0;
    }

  #refer .header .content svg {
    margin-top: 5%;
  }

}

#refer .prizes .page-content {
  position: relative;
  width: 85%;
}

#refer .prizes .callout {
  text-align: center;
  font-size: 2em;
  color: #2a667f;
  font-weight: bold;
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#refer .prizes .progress {
  height: 4px;
  width: 100%;
  background: image-url("refer/progress-bg.png") 0 0 repeat-x;
  background-size: 1px 4px;
  position: absolute;
  top: 115px;
  z-index: 0;
}

#refer .prizes .progress .mover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#refer .prizes .progress .mover .bar {
  background: image-url("refer/progress-done.png") 0 0 repeat-x;
  width: 15%;
  height: 4px;
  -webkit-background-size: 1px 4px;
  background-size: 1px 4px;
}

#refer .prizes.prize-two .progress .mover .bar {
  width: 28%;
}

#refer .prizes.prize-three .progress .mover .bar {
  width: 50%;
}

#refer .prizes.prize-four .progress .mover .bar {
  width: 73%;
}

#refer .prizes.prize-five .progress .mover .bar {
  width: 100%;
}

#refer .prizes ul.products {
  height: 105px;
  width: 100%;
  margin-top: 30px;
  position: relative;
  z-index: 1;
}

#refer .prizes .products li.title {
  height: 100%;
  text-transform: uppercase;
  color: #074E6F;
  font-weight: 500;
  font-size: 14px;
  float: left;
  margin-right: 6%;
  width: 165px;
  font-weight: bold;
}

#refer .prizes .products li.title .friends {
  margin-top: 7px;
  letter-spacing: 2px;
  font-size: 1.5em;
  font-weight: 100;
}

#refer .prizes .products li.title .rewards {
  margin-top: 1.5em;
  letter-spacing: 2px;
  font-size: 1.5em;
  font-weight: 100;
}

#refer .prizes .products li.product {
  height: 100%;
  color: #074E6F;
  width: 15%;
  margin-right: 5%;
  float: left;
  position: relative;
}

@media screen and (max-width: 1160px) {
    #refer .prizes .products li.product {
        width: 14%;
        margin-right: 4%;
    }
}

@media screen and (max-width: 872px) {
    #refer .prizes .products li.product {
        width: 13%;
        margin-right: 3%;
    }
}

@media screen and (max-width: 720px) {
    #refer .prizes .products li.product {
        width: 12%;
        margin-right: 2%;
    }
}

#refer .prizes .products li.product .circle {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  border: 1px solid #DAD9D2;
  text-align: center;
  line-height: 30px;
  color: #d4d3d5;
  overflow: hidden;
  background: #2a667f;
  margin: 0 auto;
}

#refer .prizes .products li.product .sep {
  width: 12px;
  height: 2px;
  background: transparent;
  margin: 13px auto 13px;
}

#refer .prizes .products li.product .caret {
  width: 100%;
  height: 10px;
  background: image-url("refer/caret.png") center center no-repeat;
  background-size: 16px 10px;
  position: absolute;
  bottom: -15px;
}

#refer .prizes .products li.product.selected .caret {
  background: image-url("refer/caret-selected.png") center center no-repeat;
  background-size: 16px 10px;
}

#refer .prizes .products li.product p {
  text-align: center;
  font-weight: 500;
}

#refer .prizes .products li.product:last-child {
  margin-right: 0;
}

#refer .prizes .products li.product.last {
  margin-right: 0;
}

#refer .prizes .products li.product.selected .circle {
  background: #995F5E !important;
  border-color: #995F5E !important;
  color: #FFF !important;
}

#refer .prizes .products li.product.selected p {
  color: #995F5E !important;
}

#refer .prizes .products li.product:hover .circle {
  color: #FFF;
  background: #074E6F;
  border-color: #074E6F;
}

#refer .prizes .products li.product .tooltip {
  height: 254px;
  width: 190px;
  border: 4px solid #074E6F;
  position: absolute;
  top: -285px;
  left: -32px;
  display: none;
  background: #FFF;
}

#refer .prizes .products li.product .tooltip img {
  margin: 0 auto;
  display: block;
}

#refer .prizes .products li.product:hover .tooltip {
  display: block;
}

#refer .prizes p.place {
  text-align: center;
  font-size: 16px;
  color: #074E6F;
  width: 100%;
  font-weight: 500;
  margin-top: 30px;
}

#refer .prizes p.place span {
  color: #995F5E;
}

#refer .prizes p.check {
  text-align: center;
  font-size: 16px;
  color: #858181;
  width: 100%;
  font-weight: 500;
  margin-top: 5px;
}















































