// MOBILE/RESPONSIVE FOR REFER

#refer .prizes-mobile {
  width: 100%;
  background: rgba(212, 211, 213, 0.85);
  border-top: 1px solid #D2D1C8;
  padding-bottom: 20px;
  display: table;
}

@media screen and (min-width: 500px) {
    #refer .prizes-mobile {
        display: none;
    }

    #refer .share-wrap svg.mobile {
      display: none;
    }

}

#refer .share-wrap svg.mobile {
    margin-left: 7%;
}

#refer .prizes-mobile .page-content {
  position: relative;
  width: 100%;
  height: 38em;
}

#refer .prizes-mobile .callout {
  text-align: center;
  font-size: 2em;
  color: #2a667f;
  font-weight: bold;
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#refer .prizes-mobile .progress {
  height: 30em;
  width: 4px;
  background: image-url("refer/progress-bg-vert.png") 0 0 repeat-y;
  background-size: 4px 1px;
  position: absolute;
  top: 3em;
  left: 50%;
  z-index: 0;
  margin: 0 auto;
}

#refer .prizes-mobile .progress .mover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

#refer .prizes-mobile .progress .mover .bar {
  background: image-url("refer/progress-done-vert.png") 0 0 repeat-y;
  width: 4px;
  height: 15%;
  -webkit-background-size: 4px 1px;
  background-size: 4px 1px;
}

#refer .prizes-mobile.prize-two .progress .mover .bar {
  height: 28%;
}

#refer .prizes-mobile.prize-three .progress .mover .bar {
  height: 50%;
}

#refer .prizes-mobile.prize-four .progress .mover .bar {
  height: 73%;
}

#refer .prizes-mobile.prize-five .progress .mover .bar {
  height: 100%;
}

#refer .prizes-mobile ul.products {
  width: 100%;
  margin-top: 1em;
  position: relative;
  z-index: 1;
  display:table;
}

#refer .prizes-mobile .products li.title {
  text-transform: uppercase;
  color: #074E6F;
  font-weight: 500;
  font-size: 14px;
  margin-right: 0px;
  font-weight: bold;
  text-align: center;
  margin-left: -5px;
  padding-bottom: 2em;
}

#refer .prizes-mobile .products li.title .friends {
  letter-spacing: 2px;
  font-size: 1.5em;
  font-weight: bold;
}

#refer .prizes-mobile .products li.title .rewards {
  letter-spacing: 2px;
  font-size: 1.5em;
  font-weight: bold;
}

#refer .prizes-mobile .products li.product {
  color: #074E6F;
  margin: 0;
  position: relative;
  padding-bottom: 2.5em;
}

#refer .prizes-mobile .products li.product .circle {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  border: 1px solid #DAD9D2;
  text-align: center;
  line-height: 30px;
  color: #d4d3d5;
  overflow: hidden;
  background: #2a667f;
  margin: 0 auto;
}

#refer .prizes-mobile .products li.product .sep {
  width: 12px;
  height: 2px;
  background: transparent;
  margin: 13px auto 13px;
}

#refer .prizes-mobile .products li.product .caret {
  width: 100%;
  height: 10px;
  background: image-url("refer/caret.png") center center no-repeat;
  background-size: 16px 10px;
  position: absolute;
  bottom: -15px;
}

#refer .prizes-mobile .products li.product.selected .caret {
  background: image-url("refer/caret-selected.png") center center no-repeat;
  background-size: 16px 10px;
}

#refer .prizes-mobile .products li.product p {
  text-align: left;
  font-weight: 500;
}

#refer .prizes-mobile .products li.product:last-child {
  padding-bottom: 0;
}

#refer .prizes-mobile .products li.product.last {
  margin-right: 0;
}

#refer .prizes-mobile .products li.product.selected .circle {
  background: #995F5E !important;
  border-color: #995F5E !important;
  color: #FFF !important;
}

#refer .prizes-mobile .products li.product.selected p {
  color: #995F5E !important;
}

#refer .prizes-mobile .products li.product:hover .circle {
  color: #FFF;
  background: #074E6F;
  border-color: #074E6F;
}

#refer .prizes-mobile .products li.product .tooltip {
  height: 254px;
  width: 190px;
  border: 4px solid #074E6F;
  position: absolute;
  top: -285px;
  left: -32px;
  display: none;
  background: #FFF;
}

#refer .prizes-mobile .products li.product .tooltip img {
  margin: 0 auto;
  display: block;
}

#refer .prizes-mobile .products li.product:hover .tooltip {
  display: block;
}

#refer .prizes-mobile p.place {
  text-align: center;
  font-size: 16px;
  color: #074E6F;
  width: 100%;
  font-weight: 500;
  margin-top: 30px;
}

#refer .prizes-mobile p.place span {
  color: #995F5E;
}

#refer .prizes-mobile p.check {
  text-align: center;
  font-size: 16px;
  color: #858181;
  width: 100%;
  font-weight: 500;
  margin-top: 5px;
}
